body {
  margin: 0;
  padding: 0;
  font-family: Avenir, sans-serif;
}

:root {
  --heightFooter: 66px;
  --heightHeader: 116px;
}
.parent {
  display: flex;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--heightHeader);
  z-index: 2;
}

.middle {
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  position: absolute;
  top: var(--heightHeader);
  left: 0;
  right: 0;
  bottom: var(--heightFooter);
  flex-direction: row;
  overflow-y: scroll;
  overflow-x: hidden;
}

.side {
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
  position: fixed;
  top: var(--heightHeader);
  left: 0;
  bottom: var(--heightFooter);
}

.content {
  -ms-flex: 0 1 60%;
  flex: 0 1 60%;
  margin-left: 20%;
  bottom: 2%;
  top: var(--heightHeader);
  z-index: 1;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--heightFooter);
  z-index: 1;
}
